<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>
<!-- The form should submit to PlayersController.create or PlayersController.update,
     depending on whether we are creating or editing a player -->
<form method="post" th:action="@{'/players/{id}' (id=${player?.id})}">
    <div>
        <label for="name">Name</label>
        <input type="text"
               id="name"
               name="name"
               th:value="${player?.name}"
               required>
    </div>
    <div>
        <label for="bio">Biography</label>
        <input type="text"
               id="bio"
               name="bio"
                th:value="${player?.bio}"
               required>
    </div>
    <div>
        <label for="pointsPerGame">Points Per Game</label>
        <input type="number"
               id="pointsPerGame"
               name="pointsPerGame"
                th:value="${player?.pointsPerGame}"
               required>
    </div>
    <div>
        <label>Player Position</label><br/>
        <select id="position" name="position" multiple="multiple" size="5">
            <!-- For each position you should have one <option> like below  -->
            <option value="[position]" th:each="pos: ${position}" th:text="${pos.name()}" th:selected="${player?.position?.name() == pos.name()}" th:value="${pos.name()}"> [position.name]</option>
        </select>
    </div>
    <div>
        <label>Team</label><br/>
        <select id="team" name="team" multiple="multiple" size="5">
            <!-- For each team you should have one <option> like below  -->
            <option value="[team.id]" th:each="tm: ${teams}" th:text="${tm.name}" th:value="${tm.id}" th:selected="${player?.team?.id == tm.id}" > [team.name]</option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/players" type="button" class="btn btn-primary">Back to players</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
