<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method PlayersController.showPlayers -->
    <form id="filter-form">
        <label for="pointsPerGame">Points Per Game</label>
        <input id="pointsPerGame" type="number" name="pointsPerGame"/>
        <label for="position">Position</label>
        <select id="position" name="position">
            <option value="">All</option>
            <!-- For each position you should have one <option> like below  -->
            <option  th:each="pos: ${position}" th:text="${pos.name()}" th:value="${pos.name()}"> [position.name]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <th:block>
        <!-- PlayersController.showAdd -->
        <a href="/players/add" class="add-item">
            Add new player
        </a>
        </th:block>
    </div>
    <table>
        <tr>
            <th>Player name</th>
            <th>Biography</th>
            <th>Points Per Game</th>
            <th>Position</th>
            <th>Team</th>
            <th>Votes for MVP</th>
            <th>Actions</th>
        </tr>
        <!-- For each player you should have one <tr> like below -->
        <tr class="item" th:each="pl: ${players}" >
            <td th:text="${pl.name}">[player.name]</td>
            <td th:text="${pl.bio}">[player.bio]</td>
            <td th:text="${pl.pointsPerGame}">[player.pointsPerGame]</td>
            <td th:text="${pl.position}">[player.position]</td>
            <td th:text="${pl.team}">[player.team]</td>
            <td th:text="${pl.votes}">[player.votes]</td>
            <td>
                <!-- PlayersController.delete -->
                <th:block>
                <form method="post" th:action="@{'/players/{id}/delete' (id=${pl.id})}">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                <!-- PlayersController.showEdit -->
                <a th:href="@{'/players/{id}/edit' (id=${pl.id}) }" class="edit-item">Edit</a>
                <!-- PlayersController.vote -->
                <form>
                    <button type="submit" class="like-item" th:action="@{'/players/{id}/vote' (id=${pl.id})}">Vote for Player</button>
                </form>
                </th:block>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
