<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method EmployeeController.showNews -->
    <form id="filter-form">
        <label for="f1">YearsOfService</label>
        <input id="f1" type="number" name="yearsOfService"/>
        <label for="f2">Skill</label>
        <select id="f2" name="skillId">
            <option value="">All</option>
            <!-- For each skill you should have one <option> like below  -->
            <option th:each="skill: ${skills}" th:value="${skill.id}" th:text="${skill.name}"> [skill]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- EmployeeController.showAdd (Only ADMIN can see this element)-->
        <th:block>
            <a href="/employees/add" class="add-item">
                Add
            </a>
        </th:block>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Skills</th>
            <th>Actions</th>
        </tr>
        <!-- For each employees you should have one <tr> like below -->
        <tr class="item" th:each="emp: ${employees}">
            <td th:text="${emp.name}">[employees.name]</td>
            <td th:text="${emp.email}">[employees.email]</td>
            <td th:text="${emp.type}">[employees.type]</td>
            <td>
                <!-- For each of the employee.skills show the following element-->
                <span class="item-rel" th:each="skill: ${emp.skills}" th:text="${skill.name}"> [skill.name]</span>
            </td>
            <td>
                <th:block >
                    <!-- EmployeeController.delete -->
                    <form method="post" th:action="@{'/employees/{id}/delete' (id=${emp.id})}">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                    <!-- EmployeeController.showEdit -->
                    <a class="edit-item" th:href="@{'/employees/{id}/edit' (id=${emp.id})}">Edit</a>
                </th:block>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
