<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add/Edit Movie</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/jquery-3.5.1.slim.js"></script>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/jquery-3.5.1.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/popper-utils.min.js"></script>
<script src="/js/popper-utils.js"></script>
<script src="/js/popper-base.min.js"></script>
<script src="/js/popper-base.js"></script>
<script src="/js/popper-base-utils.min.js"></script>
<script src="/js/popper-base-utils.js"></script>
<script src="/js/popper-base-utils.js.map"></script>
<script src="/js/popper-base-utils.min.js.map"></script>
<script src="/js/popper-utils.js.map"></script>
<body>
<h2>Add/Edit Movie</h2>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <form th:action="@{/movies/add}" th:method="POST">

        <div class="form-group">
          <span>Identifying Number</span>
          <input readonly  id="id" name="movieId" class="about-language form-control"
               th:value="(${movie} != null ? ${movie.getId()} : '0')">
          </br> </br> </br>

          <label for="movieTitle">Movie name</label>
          <input type="text"
                 class="form-control"
                 id="movieTitle"
                 name="movieTitle"
                 th:value="(${movie} != null ? ${movie.getTitle()} : '')"
                 required
                 placeholder="Enter movie title">
        </div>
        <div class="form-group">
          <label for="summary">Summary</label>
          <input type="text"
                 class="form-control"
                 id="summary"
                 name="summary"
                 th:value="(${movie} != null ? ${movie.getSummary()} : '')"
                 placeholder="Summary">
        </div>
        <div class="form-group">
          <label for="rating">Rating</label>
          <input type="text"
                 class="form-control"
                 id="rating"
                 name="rating"
                 th:value="(${movie} != null ? ${movie.getRating()} : '')"
                 placeholder="rating">
        </div>
        <div class="form-group">
          <label for="product">Production</label>
          <select id="product" name="productions" class="form-control">
            <option th:each="prod : ${productions}"
                    th:value="${prod.getId()}"
                    th:text="${prod.getName()}"
                    th:selected="${movie != null and movie.production != null and movie.production.id == prod.id}">
            </option>
          </select>
        </div>

        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        <a type="button" class="btn btn-primary" href="/movies">Back</a>
      </form>
    </div>
  </div>
</div>
</div>
</body>
</html>
