@model EShop.Domain.DTO.AddToCartDTO

<div class="container">
    <form method="post" asp-action="AddProductToCart">

        <input type="hidden" asp-for="SelectedProductId" value="@Model.SelectedProductId" class="form-control" />

        <div class="row mt-4">
            <div class="form-group">
                <label asp-for="SelectedProductName" class="control-label"></label>
                <input asp-for="SelectedProductName" class="form-control" />
                <span asp-validation-for="SelectedProductName" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-4">
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" type="number" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-4">
            <button type="submit" class="btn btn-success">Add To Cart</button>
        </div>
    </form>

</div>
