body{
    background-color: #919a6d;
    font-size: 11px;
    font-family: Verdana;
}

#container{
    margin: -21px 0 0 0;
    padding: 0;
    background: url('img/containe.jpg');
    background-repeat: repeat-y;
    width: 50%;
    margin-left: 25%;
}

#pageHeader{
    background: url('img/intro_ti.jpg');
    background-repeat: no-repeat;
    background-position-x: 65px;
    height: 100px;
    width: 50%;
    float: left;
}

#pageHeader h1, #pageHeader h2{
    display: none;
}

#quickSummary:before{
    content: " ";
    display: block;
    height: 216px;
    background-image: url('img/intro_bg.jpg'),url('img/intro_bh.jpg');
    background-position: top, bottom;
    background-repeat: no-repeat;
    width:370px;
    margin-left: -20px;
}

#quickSummary{
    margin-top: 22.5px;
}

#quickSummary, #preamble, #explanation{
    width: 45%;
    margin-left: 50%;
    color: #38460c;
}

#quickSummary .p1:before{
    display: block;
    content: " ";
    height: 25px;
    background: url('img/header.gif');
    background-position-x: -32px;
    padding-bottom: 10px;
}

#preamble h3, #supportingText h3{
    font-size: 0;
    height: 25px;
    background: url('img/header.gif');
    background-position-x: -30px;
}

#footer{
    margin-left: 62.5%;
    padding-bottom: 10px;
}

#footer a{
    color: #38460c;
}

#footer a:hover{
    text-decoration: none;
    font-weight: bold;
}

#linkList2{
    float: left;
    position: absolute;
    margin-top: -770px;
    margin-left: 65px;
} 

.select{
    font-size: 0;
    height: 20px;
    width: 250px;
    background: url('img/select_n.gif');
}

#lselect ul{
    margin-left: -25px;
}

#lselect li{
    background-color: #dee1d3;
    margin-bottom: 5px;
    height: 30px;
    list-style: none;
    border-radius: 5px;
}

#lselect a{
    font-size: 14px;
    color: #38460c;
    margin-left: 10px;
    font-weight: bold;
    line-height: 25px;
}

.archives{
    font-size: 0;
    height: 20px;
    width: 250px;
    background: url('img/archive_.gif');
}

#larchives li{
    list-style: none;
    margin-left: -15px;
    padding-bottom: 5px;
}

#larchives a{
    color: #919a6d;
}