<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 20px">

    {% for oglas in oglasi %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ oglas.image.url }}" class="card-img-top" alt="Event Image">
            <div class="card-body">
                <h5 class="card-title">{{oglas.naslov}}</h5>
                <p class="card-text">{{oglas.opis}}</p>
            </div>
            <div class="card-footer">
                <a href="/details/{{oglas.id}}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<button type="button" class="btn btn-primary" style="margin: 20px"><a href="/kreirajoglas">Kreiraj oglas</a></button>
</body>
</html>