/* 202042, Дарко Илиоски*/

/* Good luck :D */

/* Thanks */

body{
    width: 1000px;
    margin: auto;
    background-image: url(../images/bg-body.gif);
}

#header{
    display: flex;
    background-color: white;
    margin-top: 20px;
    padding-bottom: 19px;
}

#navigation {
    display: flex;
    list-style: none;
    margin-top: 57px;
}

#navigation .selected a{
    margin-right: 10px;
    text-decoration: none;
    background-color: #A6E5F6;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    color: blue;
}

#navigation li a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

#body{
    background-color: white;
}

#sidebar {
    background-color: white;
}

#articles{
    background-color: white;
}

#connect .facebook{
    display: inline-block;
    background-image: url(../images/icons.gif);
    width: 50px;
    height: 58px;
    position: absolute;
    right: 457px;
}

#connect .twitter{
    display: inline-block;
    background-image: url(../images/icons.gif);
    width: 44px;
    height: 58px;
    position: absolute;
    right: 418px;
    background-position-x: 44px;
}

#favorites{
    background-image: url(../images/bg-gallery.jpg);
    background-repeat: no-repeat;
    width: 202px;
    height: 728px;
    position: absolute;
    top: -20px;
    margin-left: 20px;
}

#main{
    position: relative;
}

#favorites h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 179px;
    color: #6FA228;
}

#favorites p:first-of-type  img{
    background-image: url(../images/cat.jpg);
    width: 138px;
    height: 118px;
    display: inline-block;
    color: transparent;
    background-repeat: no-repeat;
}

#favorites p{
    width: 121px;
}

#favorites p .author {
    color: gray;
}


#favorites p  img{
    background-image: url(../images/owl.jpg);
    width: 138px;
    height: 118px;
    display: inline-block;
    background-repeat: no-repeat;
    color: transparent;
}


#favorites p  img:last-child {
    background-image: url(../images/turtle.jpg);
    width: 138px;
    height: 118px;
    color: transparent;
    display: inline-block;
    background-repeat: no-repeat;

}

#favorites a{
    position: absolute;
    text-decoration: none;
    bottom: 20px;
    left: 36px;
    color: lightgray;
    text-transform: uppercase;

}

#main .details h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1194FF;

}

#main .details{
    width: 383px;
    padding-left: 235px;
}

#main .details h3 .author{
    color: gray;
    position: absolute;
    margin-top: 65px;
    margin-right: 232px;
    font-size: 16px;
}


#main .details h3 a{
    color: rgb(17, 148, 255);
    text-decoration: none;
    font-weight: 1000;
    font-size: 21px;
}

#main .details p{
    color: gray;
    padding-top: 17px;
}

#main .details p a{
    color: gray;
}

#main .details h3 a{
    color: #1194FF;
    font-size: 23px;
    text-decoration: none;
}

#sidebar {
    position: absolute;
    top: 1px;
    margin-top: 108px;
    margin-left: 679px;
}

#featured{
    width: 256px;
    list-style: none;
}

#featured h4{
    color: #1194FF;
    text-transform: uppercase;
}

#featured li:first-of-type .image_right{
    background-image: url(../images/dogs.jpg);
    display: inline-block;
    width: 219px;
    height: 94px;
}

#featured li em{
    color: #1194FF;
    display: flex;
    flex-direction: column;
}


#featured li .author{
    color: gray;
}

#featured li em a{
    color: #1194FF;
}

#featured .last em{
    color: gray;
}


#featured li:last-child:before{
    content: ' ';
    background-image: url(../images/horse.jpg);
    display: inline-block;
    width: 218px;
    height: 97px;
    background-repeat: no-repeat;
}

#featured li:nth-child(4){
    position: absolute;
    padding-left: 104px;
}

#articles{
    display: flex;
    margin-top: 149px;
}

#blogs ul{
    list-style: none;
}

#blogs ul li p a{
    color: #C91F64;
}

#footer{
    margin: 20px 0px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#news h4{
    color: #5D1CB1;
}

#news ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#news ul li{
    display: flex;
    flex-direction: column;
}

#news ul li .day{
    color: gray;
}

#news ul li a{
    color: #5D1CB1;
    text-decoration: none;
}

#news ul li p{
    margin: 0px;
}

#news {
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    padding-left: 27px;
    border-top: solid 3px #5D1CB1;
}

#updates h4{
    color: #FDC366;
    padding-left: 15px;
}

#updates p {
    width: 203px;
    padding: 15px;
    color: gray;
}

#updates form .txtfield{
    color: gray;
}

#updates form .button {
    background-color: #FDC366;
    border-radius: 5px;
}

#updates .navigation {
    list-style: none;
}

#updates {
    border-top: solid 3px #FDC366;
}