{% extends "base.html" %}

{% block content %}
    <div class="container">
        <a href="http://127.0.0.1:8000/newProduct/create" class="btn btn-success">Add</a>
    <div class="row">
        {% for listing in listings %}
            <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="{{ listing.listing_image }}" class="card-img-top" alt="{{ listing.listing_title }}">
            <div class="card-body">
                <h5 class="card-title">{{ listing.listing_title }}</h5>
                <p class="card-text">{{ listing.listing_description }}</p>
                <p class="card-text">{{ listing.listing_price }} $</p>
                <p class="card-text">{{ listing.listing_status }}</p>
                <a href="http://127.0.0.1:8000/details/{{ listing.id }}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
        {% endfor %}
    </div>


    </div>
{% endblock %}