<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method MoviesController.showMovies -->
    <form id="filter-form">
        <label for="rating">Rating</label>
        <input id="rating" type="number" name=""/>
        <label for="genre">Genre</label>
        <select id="genre" name="">
            <option value="">All</option>
            <!-- For each genre you should have one <option> like below  -->
            <option value="[genre]" th:each="gr: ${genre}" th:text="${gr.name()}" th:value="${gr.name()}"> [genre.name]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <th:block>
        <!-- MoviesController.showAdd -->
        <a href="/movies/add" class="add-item">
            Add new movie
        </a>
        </th:block>
    </div>
    <table>
        <tr>
            <th>Movie name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Genre</th>
            <th>Director</th>
            <th>Votes for PCA</th>
            <th>Actions</th>
        </tr>
        <!-- For each movie you should have one <tr> like below -->
        <tr class="item" th:each="mov: ${movies}">
            <td th:text="${mov.name}">[movie.name]</td>
            <td th:text="${mov.description}">[movie.description]</td>
            <td th:text="${mov.rating}">[movie.rating]</td>
            <td th:text="${mov.genre}">[movie.genre]</td>
            <td th:text="${mov.director}">[movie.director]</td>
            <td th:text="${mov.votes}">[movie.votes]</td>
            <td>
                <th:block>
                <!-- MoviesController.delete -->
                <form method="post" th:action="@{'/movies/{id}/delete' (id=${mov.id})}">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                <!-- MoviesController.showEdit -->
                <a th:href="@{'/movies/{id}' (id=${mov.id})}" class="edit-item">Edit</a>
                <!-- MoviesController.vote -->
                <form method="post" th:action="@{'/movies/{id}/vote' (id=${mov.id})}">
                    <button type="submit" class="like-item">Vote for Movie</button>
                </form>
                </th:block>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
