body:before{
    content: " ";
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 175px;
    background: url('img/clouds.jpg'), url('img/water_edge.jpg');
    background-position: top, bottom;
    background-position-x: 0px;
    background-repeat: repeat-x, repeat-x;
}

body{
    background: url('img/gradient_bg.jpg');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    height: 1704px;
}

#container{
    width: 70%;
    margin-left: 25%;
}

#pageHeader{
    background: url('img/fish_bottom.gif');
    background-repeat: no-repeat;
    background-size: 100px;
    height: 150px;
    width: 400px;
}

#pageHeader h1{
    color: #ffffff;
    margin-left: 150px;
}

#pageHeader h2{
    color: #ffffff;
    margin-left: 220px;
    font-size: 16px;
    line-height: 30px;
}

#quickSummary{
    padding-bottom: 20px;
}

#quickSummary .p1{
    display: none;
}

#quickSummary .p2{
    color: #ffffff;
    width: 470px;
    text-align: justify;
}

#supportingText{
    color: #ffffff;
    width: 470px;
    text-align: justify;
}

#supportingText h3{
    background: url('img/fish_top.gif');
    background-repeat: no-repeat;
    background-size: 40px;
    padding-left: 70px;
}

#explanation, #participation, #benefits{
    padding-bottom: 60px;
}

#linkList{
    position: absolute;
    margin-left: 35%;
    margin-top: -98.5%;
}

#linkList2 h3{
    font-style: italic;
    color: #ffffff;
}

#lselect ul{
    margin-left: -40px;
}

#lselect li{
    list-style: none;
    border-bottom: 2px solid #003d90;
    padding-top: 10px;
    padding-bottom: 10px;
}

#lselect a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

#lkorisni_linkovi ul{
    margin-left: -40px;
}

#lkorisni_linkovi li{
    list-style: none;
}

#lkorisni_linkovi a{
    text-decoration: none;
    color: #ffffff;
}

#footer{
    margin-top: -60px;
}

#footer a{
    color: #da9600;
    font-size: 20px;
}