<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ book.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>{{ book.title }}</h1>
    <img  src="{{ book.image.url }}" alt="{{ book.title }}" class="image-fluid" >
    <p class="mt-4">Price: ${{ book.price }}</p>
    <p>{{ book.cover }}</p> 
    <a href="{% url 'index' %}" class="btn btn-secondary">Back to list</a>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
