<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method ForumUsersController.showList -->
    <form id="filter-form" >
        <label for="f1">Age</label>
        <input id="f1" type="number" name="age"/>
        <label for="f2">Interest</label>
        <select id="f2" name="interestId">
            <option value="">All</option>
            <!-- For each interest you should have one <option> like below  -->
            <option th:each="int: ${interests}" th:text="${int.name}" th:value="${int.id}"> [interest]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <th:block>
        <!-- ForumUsersController.showAdd (Only ADMIN can see this element)-->
        <a href="/users/add" class="add-item">
            Add
        </a>
        </th:block>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Interests</th>
            <th>Actions</th>
        </tr>
        <!-- For each user you should have one <tr> like below -->
        <tr class="item" th:each="us: ${forumUsers}">
            <td th:text="${us.name}">[user.name]</td>
            <td th:text="${us.email}">[user.email]</td>
            <td th:text="${us.type}">[user.type]</td>
            <td>
                <!-- For each of the user.interests show the following element-->
                <span class="item-rel" th:each="ui: ${us.interests}" th:text="${ui.name}"> [interest.name]</span>
            </td>
            <td>
                <th:block>
                <!-- ForumUsersController.delete (Only ADMIN can see this element)-->
                <form method="post" th:action="@{'/users/{id}/delete' (id=${us.id})}">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                <!-- ForumUsersController.showEdit (Only ADMIN can see this element)-->
                <a class="edit-item" th:href="@{'/users/{id}/edit' (id=${us.id})}">Edit</a>
                </th:block>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
