{% extends "base.html" %}

{% block content %} 
{% for r in restaurants %}
            <h3>{{r.name}}</h3>
            {{r.address}} <br/>
            {{r.phone}} <br/>
            {{r.email}} <br/>
            {% if r.capacity > 10 %}
                {{r.capacity}} <br/>
            {% else %}  
                <p>No capacity.</p>
            {% endif %}
            <br/>
        {% endfor %}
{% endblock %}

<!-- <html>
    <body>
        {% for r in restaurants %}
            <h3>{{r.name}}</h3>
            {{r.address}} <br/>
            {{r.phone}} <br/>
            {{r.email}} <br/>
            {% if r.capacity > 10 %}
                {{r.capacity}} <br/>
            {% else %}  
                <p>No capacity.</p>
            {% endif %}
            <br/>
        {% endfor %}
    </body>
</html> -->