@model ConcertApppp.Models.Concert

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Concert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConcertName" class="control-label"></label>
                <input asp-for="ConcertName" class="form-control" />
                <span asp-validation-for="ConcertName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcertDate" class="control-label"></label>
                <input asp-for="ConcertDate" class="form-control" />
                <span asp-validation-for="ConcertDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcertPrice" class="control-label"></label>
                <input asp-for="ConcertPrice" class="form-control" />
                <span asp-validation-for="ConcertPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcertPlace" class="control-label"></label>
                <input asp-for="ConcertPlace" class="form-control" />
                <span asp-validation-for="ConcertPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
