<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method MoviesController.showMovies -->
    <form id="filter-form">
        <label for="rating">Rating</label>
        <input id="rating" type="number" name=""/>
        <label for="genre">Genre</label>
        <select id="genre" name="">
            <option value="">All</option>
            <!-- For each genre you should have one <option> like below  -->
            <option value="[genre]"> [genre.name]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- MoviesController.showAdd -->
        <a href="" class="add-item">
            Add new movie
        </a>
    </div>
    <table>
        <tr>
            <th>Movie name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Genre</th>
            <th>Director</th>
            <th>Votes for PCA</th>
            <th>Actions</th>
        </tr>
        <!-- For each movie you should have one <tr> like below -->
        <tr class="item">
            <td>[movie.name]</td>
            <td>[movie.description]</td>
            <td>[movie.rating]</td>
            <td>[movie.genre]</td>
            <td>[movie.director]</td>
            <td>[movie.votes]</td>
            <td>
                <!-- MoviesController.delete -->
                <form>
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                <!-- MoviesController.showEdit -->
                <a href="" class="edit-item">Edit</a>
                <!-- MoviesController.vote -->
                <form>
                    <button type="submit" class="like-item">Vote for Movie</button>
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
