<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Register Page</title>
</head>

<body>
<style>
  form{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
  }
</style>


<form method="Post" action="/RegisterMethod" >

  <!-- Error Handling -->
  <script>
    // Function to get the value of a URL parameter by name
    function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, '\\$&');
      var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
              results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    // Get the value of the 'error' parameter
    var error = getParameterByName('error');

    // Display the error message if it exists
    if (error) {
      alert("Error: " + error);
      // You can customize this to display the error message in your preferred way (e.g., updating a DOM element).
    }
  </script>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="email" name="email" class="form-control" />
    <label class="form-label" for="email">Email address</label>
  </div>


  <!-- Username input -->
  <div class="form-outline mb-4">
    <input type="username" id="username" name="username" class="form-control" />
    <label class="form-label" for="username">Username</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password" name="password" class="form-control" />
    <label class="form-label" for="password">Password</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>


</form>

<!-- footer that says made with love emoji -->


</body>
</html>